:root {
    --oil-node-percentage: 17.12%;
    --oil-node-height: 265px;
    --gas-node-height: 159px;
    --coal-node-height: 106px;

    --oil-bubble-height: var(--oil-node-height);
    --gas-bubble-height: var(--gas-node-height);
    --coal-bubble-height: var(--coal-node-height);

    --ubs-node-height: ;
    --snb-node-height: ;
    --pictec-node-height: ;
    --zkb-node-height: ;
    --vontobel-node-height: ;

    --ubs-bar-width: 100%; /* 17811 */
    --snb-bar-width: 21.26%; /* 3787 */
    --pictec-bar-width: 21.47%; /* 3823 */
    --zkb-bar-width: 9.57%; /* 1705 */
    --vontobel-bar-width: 7.15%; /* 1274 */

    --wind-turbines-height: 100%;
    --solar-park-height: 100%;
    --hydropower-plant-height: 100%;

    --chart-color: rgba(000, 000, 000, 0.50);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
@font-face {
    font-family: ABCFavorit;
    src: url(ABCFavoritVariableEdu-Regular.ttf);
  }

h1 {
    font-family: ABCFavorit;
    font-size: 0.625rem;
    font-weight: 400;
    color: #1A202C;
    text-transform:uppercase;
}

p {
    font-family: ABCFavorit;
    font-size: 0.625rem;
    font-weight: 400;
    color: #1A202C;
}

/* Colors */

body {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 15% auto var(--oil-node-percentage) 15%; */
    column-gap: 1rem;

    padding: 0 1rem;
    width: 100vw;
    height: 100vh;

    background-color: #E3E3E3;

    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
}

#bar-chart {
    width: 100%;
    height: 100%;
}

#bubble-chart {
    width: 100%;
    height: 100%;
}

.column-section {
    position: relative;
    display: grid;
    grid-template-rows: 16% auto 10%;
    height: 100%;

    padding: 1rem 0 1.25rem 0;

    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}

.first-column {
    width: 15%;
}

.second-column {
    width: auto;
}

.third-column {
    width: var(--oil-node-height);
}

.fourth-column {
    width: 15%;
}

/* Top Section*/
/* .top-section {
    display: grid;
    grid-template-columns: 15% auto 20%;
    column-gap: 1.5rem;
} */

.top-section__wrapper {
    display: flex;
    flex-direction: row;
    /* column-gap: 3rem; */
}

.third-column__top-section {
    justify-content: flex-end;
}

.fourth-column__top-section > h1{
    width: 100%;
    text-align: right;
}



.top-section__text {
    width: 100%;
}

.bubble-chart__grid {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-activated {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

.bubble-chart__single-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    justify-content: center;
    align-items: center;
}

.bubble-chart__future-quote {
    position: relative;
    top: 0.5rem; /* Abstand von oben */
    right: 0.5rem; /* Abstand von rechts */
    display: flex;
    flex-direction: column;
    row-gap: 0.15rem;
    justify-content: flex-end;
}

.bubble-chart__wrapper {
    display: flex;
    flex-direction: column;
    /* row-gap: 2px; */

    align-items: center;
}

.bubble-chart__child {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    justify-content: center;
    align-items: center;

    background-color: var(--chart-color);
    border-radius: 50%;
}

.bubble-chart__child:hover {
    background-color: #FFE100;
}

.bubble-chart__child > p {
    text-transform: uppercase;
    color: white;

    mix-blend-mode: difference;
}

.oil-bubble {
    width: var(--oil-bubble-height);
    height: var(--oil-bubble-height);
}

.gas-bubble {
    width: var(--gas-bubble-height);
    height: var(--gas-bubble-height);
}

.coal-bubble {
    width: var(--coal-bubble-height);
    height: var(--coal-bubble-height);
}

.bubble-chart__default {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cacaca;
    border-radius: 50%;

    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
}

.full-oil-bubble {
    width: var(--oil-node-height);
    height: var(--oil-node-height);
}

.full-gas-bubble {
    width: var(--gas-node-height);
    height: var(--gas-node-height);
}

.full-coal-bubble {
    width: var(--coal-node-height);
    height: var(--coal-node-height);
}


.bar-chart__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    align-items: flex-end;
}

.bar-chart__child {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    justify-items: top;
    align-items: flex-end;

    /* padding: 1rem; */

    background-color: rgba(000, 000, 000, 0.50);
}

.bar-chart__child:hover {
    background-color: #FFE100;
}

.bar-chart__extra-wrapper {
    display: flex;
    flex-direction: row;
    /* column-gap: 0.25rem; */
    justify-content: flex-end;

    width: 100%;
}

.bar-chart__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 0.5rem;
}

.bar-chart__text-wrapper.bar-chart__inline-text {
    display: flex;
    flex-direction: row;
    column-gap: 0.25rem;
    align-items: flex-end;

    align-items: center;
    padding: 0 0.25rem 0 0;
}

.ubs-bar {
    height: var(--ubs-node-height);
    width: var(--ubs-bar-width);
}

.snb-bar {
    height: var(--snb-node-height);
    width: var(--snb-bar-width);
}

.pictec-bar {
    height: var(--pictec-node-height);
    width: var(--pictec-bar-width);
}

.zkb-bar {
    height: var(--zkb-node-height);
    width: var(--zkb-bar-width);
}

.vontobel-bar {
    height: var(--vontobel-node-height);
    width: var(--vontobel-bar-width);
}

.center-line {
    position: absolute;
    top: 0;
    left: 50%; /* Center horizontally */
    width: 1px; /* Line thickness */
    height: 100vh; /* Full height of the viewport */
    background-color: #cacaca; /* Line color */
    transform: translateX(-50%); /* Center align the line */
    z-index: 1000; /* Ensure it is above other elements */
}

.future-chart__single-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.oil-future-wrapper {
    height: var(--oil-node-height);
}

.gas-future-wrapper {
    height: var(--gas-node-height);
}

.coal-future-wrapper {
    height: var(--coal-node-height);
}

.future-chart__future-quote {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 0.15rem;
    justify-content: flex-end;

    width: 100%;
    padding: 1rem;
}

.future-chart__future-quote > h1 {
    text-transform: uppercase;
    color: white;

    text-align: right;
    mix-blend-mode: difference;
}

.future-chart__child-wrapper {
    display: flex;
    align-items: flex-end; /* Aligns the bars to grow from the bottom */
    justify-content: center;
    height: 100%; /* Takes full height of the wrapper */
    width: 100%; /* Full width for alignment */
}

.future-chart__child {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Ensure content stays at the bottom of the bar */
    width: 100%; /* Full width of the container */
    height: 0%; /* Start with 0 height */
    background-color: var(--chart-color);
    transition: height 0.5s ease, background-color 0.3s ease; /* Smooth growth transition */
}

.future-chart__child:hover {
    background-color: #FFE100; /* Highlight on hover */
}

.oil-future,
.gas-future,
.coal-future {
    display: flex;
    align-items: flex-end; /* Aligns the content at the bottom */
    justify-content: center;

    width: 100%; /* Full width of the parent container */
    background-color: var(--chart-color);
    transition: height 0.3s ease, background-color 0.3s ease; /* Smooth height transition */
}

.oil-future {
    height: var(--wind-turbines-height);
}

.gas-future {
    height: var(--solar-park-height);
}

.coal-future {
    height: var(--hydropower-plant-height);
}

/* Content Section */
/* .content-section {
    display: grid;
    grid-template-columns: 15% auto 20%;
    column-gap: 1.5rem;
} */

/* .content-section__wrapper-content {
    height: 100%;
} */

/* Bottom Section */
/* .bottom-section {
    display: grid;
    grid-template-columns: 15% auto 20%;
    column-gap: 1.5rem;
} */

.bottom-section__wrapper {
    display: flex;
    flex-direction: column;

    row-gap: 0.25rem;

    z-index: 99;
}

.bottom-section__wrapper > div > p {
    text-transform: uppercase;
}

.bottom-section__scale {
    display: flex;
    justify-content: space-between;

    padding-top: 3rem;
}