/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */

/* Colors */


html {
    background-color: #ECF2F3;
}

body {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    column-gap: 1.5rem;

    padding: 0 1.5rem 0 1.5rem;
    width: 100vw;
    height: 100vh;
}

.column-section {
    position: relative;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%;

    padding: 1.5rem 0 1.5rem 0;

    border-left: 1px solid #D1D5DB;
    border-right: 1px solid #D1D5DB;
}

/* Top Section*/
/* .top-section {
    display: grid;
    grid-template-columns: 15% auto 20%;
    column-gap: 1.5rem;
} */

.top-section__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.top-section__text {
    width: 100%;
}

/* Content Section */
/* .content-section {
    display: grid;
    grid-template-columns: 15% auto 20%;
    column-gap: 1.5rem;
} */

/* .content-section__wrapper-content {
    height: 100%;
} */

/* Bottom Section */
/* .bottom-section {
    display: grid;
    grid-template-columns: 15% auto 20%;
    column-gap: 1.5rem;
} */

.bottom-section__scale {
    display: flex;
    justify-content: space-between;

    padding-top: 3rem;
}